.category-section {
  padding: 70px 8%;
  background: #bdedc0;
}

.category-section>hr{
  position: absolute;
    width: 60.5rem;
    border: 2px solid;
    color: green;
    border-radius: 20%;  
    margin: -5px 0;
}

.category-title {
  text-align: center;
  font-size: 32px;
  color: #2e7d32;
  margin-bottom: 40px;
  font-weight: 700;
}

/* GRID */
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

/* CARD */
/* .category-card {
  background: white;
  padding: 30px 20px;
  border-radius: 16px;
  text-align: center;  
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.category-icon {
  font-size: 40px;
  color: #2e7d32;
  margin-bottom: 15px;
}

.category-card h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.category-card p {
  color: #666;
  font-size: 15px;
} */

.category-card {
  height: 210px;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}

.category-card:hover {
  transform: scale(1.05);
}

/* Overlay layout now vertical from top */
.category-overlay {
  position: absolute;
  inset: 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.35),
    rgba(0,0,0,0.6)
  );
  color: white;
}

/* ICON AT TOP */
.category-icon {
  font-size: 34px;
  margin-bottom: 15px;
  background: rgba(255,255,255,0.15);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TEXT */
.category-overlay h3 {
  font-size: 24px;
  margin-bottom: 6px;
}

.category-overlay p {
  font-size: 14px;
  opacity: 0.95;
}

@media screen and (max-width:768px){
.category-section{
  padding: 50px 6%;
}

.category-title{
  font-size: 26px;
}

/* PROGRAMS */
.cards{
  flex-direction: column;
}

.card{
  padding: 1.5rem;
}



}
