.Footer-container{
    position: relative;
    background-color: rgb(126, 172, 126);
}

.Footer_container>hr{
    border: 1px solid green;
}

.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.social-Links{
    display: flex;
    gap: 4rem;
}

.social-links>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.logo-f>img{
    height: 10rem;
    width: 10rem;
}