.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo{
    height: 10rem;
    width: 10rem;
    z-index: 3;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: black;
    z-index: 5;
}


.header-menu>li:hover{
    color: var(--green);
    cursor: pointer;
}

@media screen and (max-width:768px){
.Logo{
  width: 7rem;
  height: 7rem;
}

.header-menu{
  gap: 1rem;
  font-size: .9rem;
}
}

